body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div.DraftEditor-root {
  width: 100%;
  margin: auto;
  height: 100%;
  overflow-y: auto;
}

div.DraftEditor-editorContainer {
  height: 100%;
}
